

body {
	margin: 0;
	background: #444;
	font-family: arial, verdana, sans-serif;
}
.content {
	position: absolute;
	left: 50%;
	top: 0;
	right: auto;
	bottom: auto;
	margin-left: -390px;
	width: 780px;
	clear: both;
	background: #F5E783 url(images/linklist_back.jpg) repeat-y 100% 0;
	border-left: solid 1px #fff;
	border-right: solid 1px #fff;
}

.feedBackPanelERROR {font-family: arial, verdana, sans-serif; color:red;}
.customerTable { background: #aa3433; position: relative; left:100; border: 3px solid black; width: 120px;}
.feedbackPanel {background: #b1b2b3 ; position: relative; left: 100; border: 3px solid black; width: 120px;}

